.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom right, #dd4b39, #333);
  }
  
  .contact-info,
  .contact-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .contact-info h2,
  .contact-form h2 {
    margin-top: 0;
  }
  
  .contact-form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .contact-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    background-color: #dd4b39;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #ff6659;
  }
  