html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #111;
}

.app {
  display: flex;
  min-height: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #111;
  color: #fff;
}
